openapi: "3.0.3"
info:
  title: Claw Protect API
  version: "1.0.0"
  description: |
    REST API for Claw Protect — the AI-agent security platform.

    This specification covers telemetry ingestion, alert management,
    configuration, and health endpoints exposed by the Claw Protect
    control plane to agents and dashboards.

    ## Authentication
    All endpoints require a valid Firebase ID token in the
    `Authorization: Bearer <token>` header unless otherwise noted.

    ## Rate Limits
    | Tier       | Requests/min | Burst |
    |------------|-------------|-------|
    | free       | 60          | 10    |
    | starter    | 300         | 30    |
    | pro        | 1200        | 60    |
    | enterprise | 6000        | 120   |

    Rate-limit headers (`X-RateLimit-Limit`, `X-RateLimit-Remaining`,
    `X-RateLimit-Reset`) are included in every response.

    ## Retry & Back-off
    Clients should implement exponential back-off with jitter.
    Recommended: initial delay 1 s, factor 2, max 5 retries, cap 32 s.

    ## Idempotency
    POST endpoints accept an `Idempotency-Key` header (UUID v4).
    Duplicate requests within 24 h return the original response.
  contact:
    name: Claw Protect Team
    url: https://github.com/tap919/Claw-Protect
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.clawprotect.dev/v1
    description: Production
  - url: http://localhost:3000/v1
    description: Local development

tags:
  - name: telemetry
    description: Ingest and query security telemetry
  - name: alerts
    description: Manage security alerts
  - name: config
    description: Tenant security configuration
  - name: health
    description: Service health and readiness

paths:
  /health:
    get:
      operationId: getHealth
      tags: [health]
      summary: Liveness and readiness check
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ok] }
                  version: { type: string }
                  uptime: { type: number, description: "Uptime in seconds" }
                required: [status, version]

  /telemetry:
    post:
      operationId: ingestTelemetry
      tags: [telemetry]
      summary: Ingest a telemetry payload
      description: |
        Accepts a single telemetry signal from an agent.  The payload is
        validated against `claw-protect-payload.schema.json#/definitions/telemetryPayload`.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TelemetryPayload"
      responses:
        "201":
          description: Telemetry accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  accepted: { type: boolean }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    get:
      operationId: listTelemetry
      tags: [telemetry]
      summary: Query telemetry signals
      parameters:
        - name: agentId
          in: query
          schema: { type: string }
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: until
          in: query
          schema: { type: string, format: date-time }
        - name: minThreat
          in: query
          schema: { type: number, minimum: 0, maximum: 100 }
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Paginated telemetry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/TelemetryPayload"
                  nextPageToken: { type: string }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /alerts:
    post:
      operationId: createAlert
      tags: [alerts]
      summary: Create a security alert
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertPayload"
      responses:
        "201":
          description: Alert created
          content:
            application/json:
              schema:
                type: object
                properties:
                  alertId: { type: string }
                  created: { type: boolean }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    get:
      operationId: listAlerts
      tags: [alerts]
      summary: Query security alerts
      parameters:
        - name: severity
          in: query
          schema: { type: string, enum: [low, medium, high, critical] }
        - name: type
          in: query
          schema: { type: string }
        - name: resolved
          in: query
          schema: { type: boolean }
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Paginated alert list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/AlertPayload"
                  nextPageToken: { type: string }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /alerts/{alertId}:
    patch:
      operationId: updateAlert
      tags: [alerts]
      summary: Resolve or update an alert
      parameters:
        - name: alertId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resolved: { type: boolean }
                resolvedAt: { type: string, format: date-time }
      responses:
        "200":
          description: Alert updated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Alert not found

  /config:
    get:
      operationId: getConfig
      tags: [config]
      summary: Retrieve current security configuration
      responses:
        "200":
          description: Current config
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigPayload"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      operationId: updateConfig
      tags: [config]
      summary: Update security configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigPayload"
      responses:
        "200":
          description: Config updated
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Firebase ID Token

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: UUID v4 for exactly-once delivery (valid 24 h)
      schema: { type: string, format: uuid }
    PageSize:
      name: pageSize
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    PageToken:
      name: pageToken
      in: query
      schema: { type: string }

  schemas:
    TelemetryPayload:
      type: object
      properties:
        payloadType: { type: string, enum: [telemetry] }
        uid: { type: string, minLength: 1 }
        timestamp: { type: string, format: date-time }
        threatLevel: { type: number, minimum: 0, maximum: 100 }
        metadata:
          type: object
          additionalProperties: true
        agent:
          type: object
          properties:
            agentId: { type: string }
            agentType: { type: string, enum: [openclaw, hermes, custom, unknown] }
            version: { type: string }
            hostname: { type: string }
            region: { type: string }
          required: [agentId, agentType]
        endpoint:
          type: object
          properties:
            agentId: { type: string }
            hostname: { type: string }
            ipAddress: { type: string, format: ipv4 }
            osType: { type: string, enum: [linux, macos, windows, container] }
            uptimeSeconds: { type: integer, minimum: 0 }
        network:
          type: object
          properties:
            outboundTransfers: { type: integer, minimum: 0 }
            totalBytesOut: { type: integer, minimum: 0 }
            suspiciousDestinations: { type: array, items: { type: string } }
            beaconingDetected: { type: boolean }
        dlp:
          type: object
          properties:
            secretsFound: { type: integer, minimum: 0 }
            sensitiveDataTypes: { type: array, items: { type: string } }
            exfiltrationRisk: { type: string, enum: [low, medium, high, critical] }
        identity:
          type: object
          properties:
            agentId: { type: string }
            trustScore: { type: number, minimum: 0, maximum: 100 }
            authMethod: { type: string, enum: [challenge-response, mTLS, jwt, api-key] }
            spoofingAttempts: { type: integer, minimum: 0 }
      required: [payloadType, uid, timestamp, threatLevel]

    AlertPayload:
      type: object
      properties:
        payloadType: { type: string, enum: [alert] }
        alertId: { type: string }
        uid: { type: string }
        type:
          type: string
          enum:
            - prompt_injection
            - behavioral_drift
            - secret_exposure
            - excessive_permissions
            - data_exfiltration
            - identity_spoofing
            - supply_chain
            - shadow_agent
            - runaway_loop
            - resource_exhaustion
            - ransomware
            - zero_trust_violation
            - iot_anomaly
            - cloud_misconfiguration
        severity: { type: string, enum: [low, medium, high, critical] }
        message: { type: string, maxLength: 1000 }
        timestamp: { type: string, format: date-time }
        moduleSource: { type: string }
        agentId: { type: string }
        resolved: { type: boolean, default: false }
        resolvedAt: { type: string, format: date-time }
        metadata:
          type: object
          additionalProperties: true
        reasoning: { type: string }
      required: [payloadType, alertId, uid, type, severity, message, timestamp]

    ConfigPayload:
      type: object
      properties:
        payloadType: { type: string, enum: [config] }
        uid: { type: string }
        version: { type: string }
        pricingTier: { type: string, enum: [free, starter, pro, enterprise] }
        modules:
          type: object
          description: Module-level enable/disable flags and thresholds
        updatedAt: { type: string, format: date-time }
      required: [payloadType, uid, version, pricingTier, modules]

  responses:
    BadRequest:
      description: Payload validation failed
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string }
              details: { type: array, items: { type: string } }
    Unauthorized:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, enum: [unauthorized] }
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema: { type: integer }
          description: Seconds until next allowed request
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, enum: [rate_limited] }
              retryAfter: { type: integer }

security:
  - bearerAuth: []
